header {
  background: #7502AF;
}


/*configuração do cabeçalho para alinhar logotipo e menu*/
.caixa {
  display: flex;
  list-style-type: none;
  position: relative;
  margin: 0 auto;
}

/* posição do menu de navegação */
nav {
  position: absolute;
  top: 180px;
  right: 0;
  text-decoration: none;
}

/* alinhamento da lista do menu */
nav li {
  display: inline;
  margin: 0 1rem;
}

/* configurações de texto do menu */
nav a {
  text-transform: uppercase;
  color: #470b0b;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

/* comportamento ao passar o mouse sobre cada item do menu*/
nav a:hover {
  color: maroon;
  text-decoration: underline;
}

/* configuração da main */
.conteudo {
  display: flex;
  flex-wrap: wrap;
  grid-area: conteudo;
  padding: 1rem 0;
  background: #000000;  
}

/* configuração da section */
.animes__conteudo {
  padding: 3rem 1rem 2rem 1rem;
}

/* título da seção animes */
.animes__titulo {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
  text-align: match-parent;
  color: white;
  padding: 0 0 0 1.5rem;
}  


.titulo__imagem {
  font-size: 13px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  font-weight: normal;
  text-align: center;
  padding: 1rem 1rem 2rem 1rem;
}

/* configuração do espaço onde ficam as imagens dos animes */
.animes__itens {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}

.animes__card {
  display: grid;
  grid-template-areas: "card-imagem";
}

/* configuração das imagens */
.animes__card__imagem {
  grid-area: card-imagem;
  height: 25rem;
  width: 18rem;
  padding: 2rem 1rem 0 1rem;
}


.filmes__conteudo {
  padding: 3rem 1rem 2rem 1rem;
}

.filmes__titulo {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
  text-align: match-parent;
  color: white;
  padding: 0 0 0 1.5rem;
}

.filmes__itens {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; 
}

.filmes__card {
  display: grid;
  grid-template-areas: "card-imagem";
}

.filmes__card__imagem{
  grid-area: card-imagem;
  height: 25rem;
  width: 18rem;
  padding: 2rem 1rem 0 1rem;
}

.sugestoes__conteudo {
  padding: 3rem 1rem 2rem 1rem;
}

.sugestoes__titulo {
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;  
  text-align: match-parent;
  color: white;
  padding: 0 0 0 1.5rem;
}

.sugestoes__itens {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;  
}

.sugestoes__card {
  display: grid;
  grid-template-areas: "card-imagem";
}

.sugestoes__card__imagem {
  grid-area: card-imagem;
  height: 25rem;
  width: 18rem;
  padding: 2rem 1rem 0 1rem;
}

.rodape {  
  background-image: linear-gradient(180deg, #000000 30%, #7502af 70%);
  text-align: center;
  color: #000000;
  font-size: 1rem;
  grid-area: rodape;
  padding: 4rem 1rem 2rem 1rem;
}